@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Roboto Slab";
    background-color: rgb(177, 174, 174);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}